@{
    ViewData["Title"] = "La aplicaci칩n no est치 disponible.";
}

<div class="container">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-muted">La aplicaci칩n se encuentra no disponible. Intentelo nuevamente m치s tarde.</p>
</div>