@model Category
@{
    ViewData["Title"] = "Categories";
    ViewData["SubTitle"] = "Delete";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"> <a class="text-decoration-none" title="Regresar al listado"
                asp-action="Index">Listado</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
</nav>

<div class="row" style="background-color: #b60000;">
    <h2 class="col text-center" style="margin: 20px;">Eliminar Categoría</h2>
</div>

@if (!Model.IsProtected)
{
    <p class="text-danger" style="margin-top: 10px;">¿Está seguro que desea eliminar esta categoría?</p>

    <partial name="_PartialDetail" />
    <form asp-action="Delete">
        <div class="text-center mt-3">
            <button id="btnEnviar" type="submit" class="btn btn-sm btn-danger">Eliminar</button>
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
        </div>
    </form>
}
else
{
    <div class="mt-5">
        <div class="alert alert-warning" role="alert">
            La categoría "<strong>@Model.Name</strong>" esta protegida y no puede eliminarse.
        </div>
    </div>
    <div class="text-center mt-3">
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
    </div>
}