@{
    ViewData["Title"] = "Main Menu";
}

<div class="fondo h-100">
    <div class="card text-center bg-transparent border-0">
        <h1 class="card-header bg-transparent border-0 text-danger">Blockbuster Copia</h1>
        <div class="card-body">
            <h2 class="display-5 card-title">La Copia de Blockbuster para Progra Segura</h2>
            <p class="card-text lead fw-semibold">Con este se pasa en parciales como de que no.</p>
            <p class="card-text lead">¿Quieres ver las películas disponibles en esta copia de blockbuster ya? Presiona el siguiente botón para inciar la experiencia en Blockbuster.</p>
            @if (User.Identity?.IsAuthenticated == true)
            {
                <a asp-controller="Movies" class="btn btn-danger">Ver el catálogo de Películas</a>
            }
            else
            {
                <a asp-controller="Auth" class="btn btn-danger">Comenzar</a>
            }
        </div>
    </div>
</div>