@model Movie
@{
    ViewData["Title"] = "Películas";
    ViewData["SubTitle"] = "Categorias";
    var imageDataUrl = ViewBag.ImageDataUrl as string;
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"> <a class="text-decoration-none" title="Regresar al listado"
                asp-action="Index">Listado de Películas</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
</nav>

<div class="row" style="background-color: #003088;">
    <h2 class="col text-center" style="margin: 20px;">Categorías de la Película</h2>
</div>

@if (Model.Categories != null)
{
    <partial name="_CategoriesListPartial" model="Model" />
}

<h4 class="my-3">Película</h4>
<partial name="_CardPartial" model="Model" />