@model Movie
@{
    ViewData["Title"] = "Peliculas";
    ViewData["SubTitle"] = "Eliminar";
    var imageDataUrl = ViewBag.ImageDataUrl as string;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"> <a class="text-decoration-none" title="Regresar al listado"
                asp-action="Index">Listado</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
</nav>

<div class="row" style="background-color: #b60000;">
    <h2 class="col text-center" style="margin: 20px;">Eliminar Película</h2>
</div>

<p class="text-danger" style="margin-top: 10px;">¿Está seguro que desea eliminar este elemento?</p>
<p class="text-danger">@ViewData["ErrorMessage"]</p>

<partial name="_CardPartial" model="Model" />
<form asp-action="Delete">
    <div class="text-center mt-3">
        <button id="btnEnviar" type="submit" class="btn btn-sm btn-danger">Eliminar</button>
        <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
    </div>
</form>