@model Movie
@{
    ViewData["Title"] = "Películas";
    ViewData["SubTitle"] = "Crear";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById('select-movie-file-input').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('movie-image').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
        <li class="breadcrumb-item"> <a class="text-decoration-none" title="Regresar al listado"
                asp-action="Index">Listado</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["SubTitle"]</li>
    </ol>
</nav>

<h2 class="text-center mb-3">Crear Película</h2>

<form id="editForm" asp-action="Make" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="POST" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card mt-3">
        <div class="row g-8">
            <input type="hidden" name="MovieId" asp-for="MovieId" />
            <div class="col-md-4 justify-content-center align-items-center" style="margin: 10px;">
                <img id="movie-image" class="img-fluid img-thumbnail mt-2 ms-2" 
                    style="height: 270px; margin-bottom: 10px; width: 270px;">
                <input asp-for="Poster" type="file" id="select-movie-file-input" class="btn btn-primary file-input" accept="image/jpeg, image/png"
                    capture="environment" style="margin: 10px" multiple></input>
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <div class="col">
                <div class="card-body small">
                    <div class="form-floating mb-3 mt-5">
                        <input asp-for="Title" placeholder="Título" class="form-control" maxlength="100" /> <label asp-for="Title"
                            class="form-label">Titulo</label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Year" placeholder="Año" class="form-control" maxlength="5" /> <label asp-for="Year"
                            class="form-label">Año</label>
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Synopsis" placeholder="Sinópsis" class="form-control form-control-lg"
                            style="height: 100px" maxlength="500"></textarea>
                        <label asp-for="Synopsis" class="form-label">Sinopsis</label>
                        <span asp-validation-for="Synopsis" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="post" action="@Url.Action("MakeAsync", "Movies")" enctype="multipart/form-data">
        <div class="text-center mt-3">
            <button class="btn btn-sm btn-danger" type="submit">Crear</button>
            <a class="btn btn-sm btn-outline-secondary" asp-action="Index" title="Cancelar">Cancelar</a>
        </div>
    </form>
</form>